@charset "UTF-8";

/* 共通クラス切り出し */
a {
  display: inline-block;
}

body {
  font-family: 'Lato';/* font指定 */
}

.is-raleway {
  font-family: 'Raleway';/* font指定 */
}

.inner {
  margin: 0 auto;
  width: 1100px;
}
/* 共通クラス切り出し */

/* ~~~ */

/* --header-- */
.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header__icon {
  font-size: 40px;
  opacity: 0.5;
}

.header__button {
  display: flex;
}

.header__button_item {
  background-color:#74cfae;/* テーマカラー */
  padding: 14px 12px;
  text-decoration: none;
  color: #fff;
  transition: all .3s;
  font-size: 12px;
}

.header__button_item:hover {
  color: #333;/* デフォルトテキストカラー */
}

/* --main-- */
.main {
  padding-top: 70px;
}

/* Bolt Theme */
.theme {
  background-color: #f2f2f2;
  text-align: center;
  padding: 250px 0;
}

.theme__title {
  color: #74cfae;/* テーマカラー */
  font-size: 90px;
  font-weight: 700;
}

.theme__text {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
  font-weight: lighter;
}
/* Bolt Theme */

/* ~~~ */

/* WHAT WE CAN DO? */
.description {
  background-color: #74cfae;/* テーマカラー */
}

.description__inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}

.description__title {
  font-size: 24px;
  color: #fff;
}

.description__text-content {
  text-align: center;
  align-items: center;
  margin-top: 30px;
  width: 650px;
}

.description__text {
  color: #fff;
  font-size: 20px;
  margin-top: 35px;
  line-height: 30px;
}
/* WHAT WE CAN DO? */

/* ~~~ */

/* OUR LATEST WORK */
.gallery {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
  text-align: center;
}

.gallery__title {
  font-size: 24px;
  font-weight: lighter;
}

.gallery__img-contents {
  margin-top: 40px;
  font-size: 0;
}

.gallery__img-contents_item {
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px;
}

.gallery__img-contents-btn {
  transition: all .3s;
  opacity: .7;
}

/* ~~~ */

.gallery__img-contents-btn:hover {
  opacity: 1;
}

.gallery__img-contents_item:nth-child(3n+1) {
  margin-left: 0px;
}

.gallery__img-contents_item:nth-child(-n+3) {
  margin-top: 0;
}

/* ~~~ */

.gallery__text-contents {
  text-align: center;
  margin-top: 90px;
}

.gallery__text-contents_item {
  display: inline-block;
  text-align: center;
  width: 650px;
  font-size: 23px;
  line-height: 30px;
  font-weight: lighter;
}

.gallery__text-contents_email {
  display: inline-block;
  text-decoration: none;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  vertical-align: top;
  transition: all .3s;
  margin-left: 90px;
}

/* ~~~ */

.gallery__text-contents_email:hover {
  color: #333;
}
/* OUR LATEST WORK */

/* ~~~ */

/* OUR SKILLS */
.skill {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill__title {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.skill__container {
  text-align: center;
  margin-top: 70px;
  font-size: 0;
}

.skill__cotainer_item {
  margin-left: 180px;
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.skill__container_text {
  margin-top: 20px;
}

.skill__cotainer_item:first-child {
  margin-left: 0;
}
/* OUR SKILLS */

/* ~~~ */

/* sns */
.nav {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.nav__contents {
  font-size: 0;
  text-align: center;
}

.nav__contents_list {
  display: inline-block;
}

.nav__contents_icon {
  color: #74cfae;
  width: 185px;
  padding: 30px 0;
  cursor: pointer;
  font-size: 48px;
  transition: all .3s;
}

.nav__contents_icon:hover {
  background-color: #fff;
}
/* sns */

/* ~~~ */

/* --footer-- */
.footer {
  background-color: #74cfae;
  padding: 20px 0;
}

.footer__text {
  color: #fff;
  text-align: right;
}
/* --footer-- */

/* ~~~ */

/* タブレット以下
------------------------------ */
@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .description__inner {
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  .description__img {
    margin-right: 0;
  }

  .description__text-content {
    margin-left: 0;
    padding-top: 0;
    margin-top: 20px;
  }

  .gallery__img-contents_item {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .gallery__img-contents_item:nth-child(3n+1) {
    margin-top: 80px;
  }

  .gallery__img-contents_item:first-child {
    margin-top: 0;
  }

  .gallery__text-contents {
    margin-top: 80px;
  }

  .gallery__text-contents_item {
    width: 100%;
    margin: 0 auto;
  }
  
  .gallery__text-contents_email {
    margin-top: 40px;
    margin-left: 0;
  }

  .skill__cotainer_item {
    margin-left: 0;
    margin-top: 88px;
    display: block;
  }

  .skill__cotainer_item:first-child {
    margin-top: 0;
  }
}
/* ------------------------------
タブレット以下 */

/* ~~~ */

/* スマートフォン
------------------------------ */
@media screen and (max-width:767px) {
  .header__button_item {
    display: none;
  }

  .header__hamburger-menu {
    padding: 10px;
    width: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
  }

  .header__hamburger-item {
    position: absolute;
    width: 25px;
    height: 1px;
    top: 0;
    right: 9px;
    border: solid 1px #ddd;
    background-color: #ddd;
  }

  .header__hamburger-item:nth-child(1) {
    top: 11px;
  }

  .header__hamburger-item:nth-child(2) {
    top: 18px;
  }

  .header__hamburger-item:nth-child(3) {
    top: 25px;
  }

  .theme {
    padding: 160px 0 130px 0;
  }

  .theme__title {
    font-size: 80px;
  }

  .theme__text {
    font-size: 30px;
  }

  .description__text-content {
    width: 100%;
  }

  .description__text {
    width: 82%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .nav {
    padding: 50px 0;
  }

  .nav__contents_list {
    width: 100%;
  }

  .nav__contents_icon {
    width: 100%;
  }
}

/* ~~~ */

@media screen and (min-width:768) {
  .header__hamburger-menu {
    display: none;
  }
}